*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 80%;
    height: 700px;
    border: 2px solid;
    margin-left: 100px;
    display: flex;
}
.left{
    width: 20%;
    height: 100%;
    border: 1px solid;
}
.left .product{
    width: 150px;
    height: 50px;
    border: 1px solid;
    font-size: larger;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    margin-left: 40px;
}
.left .order{
    width: 150px;
    height: 50px;
    border: 1px solid;
    font-size: larger;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 40px;
}
.right{
   width: 80%;
   height: 100%;
   border: 1px solid;
   
}
.right .menu{
    width: 100%;
    height: 10%;
    border: 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: larger;
}
.right .list{
    width: 100%;
    height: 90%;
    border: 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: larger;
}
