.board {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
  }
.list-button {
    display: flex;
  }

  .button {
    height: 25px;
    margin-left: 6px;
    border-radius: 5px;
    border: none;
  }

  .button:hover {
    background-color: rgb(211, 211, 211);
  }