*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nav-bar{
    width: 100%;
    height: 50px;
    display: flex;
    border: none;
    background-color: white;
   position: fixed;
   margin-top: 0;
   z-index: 1;
}
.nav-bar .left{
    width: 30%;
    height: 100%;
    display: flex;
    margin-right: 20px;
}
.nav-bar .left .logo{
    width: 15%;
    height: 100%;
    color: blue;
    display: flex;
    font-size: 40px;
    justify-content: center;
    align-items: center ;
}
.nav-bar .left .task {
    position: absolute;
    right: 89.5pc;
    top: 1pc;
    color: gray;
}
.nav-bar .left .search{
  width: 85%;
  height: 100%;
}
.search input{
    width: 60%;
    height: 80%;
    margin-top: 5px;
    border: none;
    padding-left: 35px;
    border-radius: 20px;
   background-color: rgb(231, 233, 234);
}
.nav-bar .mid{
    width: 40%;
    height: 100%;
    display: flex;
}
.nav-bar .mid .item{
    width: 25%;
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 25px;
    color: gray;
}
.nav-bar .mid :hover{
    background-color: rgb(222, 226, 230);
    border: none;
    border-radius: 10px;
}
.mid .item:first-child {
    color:  rgb(51, 51, 250);
    border-bottom: 2px solid  rgb(51, 51, 250);
}
.nav-bar .right{
   width: 30%;
   height: 100%;
   display: flex;
   justify-content: flex-end;
   margin-right: 20px;
}
.nav-bar .right .item{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px ;
    border-radius: 50%;
    padding: 3px;
    margin: 5px;
    background-color: rgb(222, 226, 230);
}
.nav-bar .right  :hover{
    background-color: rgb(242, 239, 236);
    border-radius: 50%;
}
.item img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: none;
}
.main{
    width: 100%;
    height: 3000px;
    display: flex;
    padding-top: 60px;
   background-color: rgb(231, 233, 234);
}
.main .sidebar-left{
    width: 25%;
    height: 100%;
    overflow-y: scroll;  
   position: fixed;
   left: 0;
}
::-webkit-scrollbar{
    width:8px;
}
::-webkit-scrollbar-thumb{
    background-color: rgb(198, 193, 193);
    border-radius: 30px;
}
.main .content{
    width: 40%;
    height: 1000px;
    margin-left: 100px;
    margin-right: 100px;
    position: absolute;
    left: 350px;
    padding: 5px;
}
.main .sidebar-right{
    width: 25%;
    height: 100%;
    overflow-y: scroll;
    margin-right: 20px;
    position: fixed;
    right: 0;

}
.left-top .frame{
    width: 100%;
    height: 50px;
    display: flex;
}
.frame .icon{
    width: 40px;
    height: 40px;
    display: flex;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 25px;
    align-items: center;
    justify-content: center;
    color: gray;
    margin-top: 5px;
}

.frame .icon img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.frame .name{
    width: 100px;
    height: 100%;
    display: flex;
    text-align: center;
    align-items: center;
}
.left-top :hover{
    background-color: rgb(242, 239, 236);
    border-radius: 10px;
}
.hr hr {
   border: 1px solid;
   color: rgb(215, 213, 213);
   width: 90%;
}
.hr .shortcut{
   margin-top: 10px;
   font-size: large;
   color: gray;
   padding-left: 10px;
   margin-bottom: 10px;
   width: 70%;
}

.left-bottom .frame{ 
    width: 100%;
    height: 60px; 
    display: flex;
    padding-left: 10px;
}
.left-bottom .frame img{
    width: 50px;
    height: 50px;
    border-radius: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    margin-top: 5px; 
    
}
.left-bottom .frame .icon1{
    width: 50px;
    height: 50px;
    border-radius: 10px;
    justify-content: center;
    display: flex;
    font-size:35px;
    margin-top: 5px;    
    align-items: center;
    color: grey;
   
}
.left-bottom :hover{
    background-color: rgb(242, 239, 236);
    border-radius: 10px;
}
.left-bottom .frame .name{ 
    width: 200px;
    height: 60px;
    display: flex;
    padding-left: 10px;
    align-items: center;
}
.sidebar-right .right-top{
    width: 100%;
    font-size: larger;
    color: grey;
    height: 50px;
    display: flex;
}

.right-top .sponsored{
    width: 30%;
    height: 100%;
}
.right-top .item-spon{
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: right;
    padding-right: 15px;
}
.sidebar-right .right-mid{
    width: 100%;
    height: 240px;
}
.right-mid :hover{
    background-color: rgb(242, 239, 236);
    border-radius: 10px;
}
.right-mid .frame{
    width:100%;
    height:100px;
    display: flex;
    margin-bottom: 10px;
    
}
.right-mid .frame img{
    width:150px;
    height: 90px;
    display: flex;
    border-radius: 10px;
    margin-top: 10px;
    margin-left: 10px;
}
.right-mid .frame .name{
    width: 200px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
}
.hr1 hr{
    border: 1px solid;
    color: rgb(215, 213, 213);
    width: 90%;
    
}
.people{
    width: 100%;
    height: 40px;
    display: flex;
    color: rgb(121, 116, 116);
}
.contact{
    width: 70%;
    height: 100%;
    margin: 5px;
    font-size: 19px;
}
.contact2 {
    width: 10%;
    height: 100%;
    display: flex;
 justify-content: center;
 align-items: center;
 text-align: right;
 margin-right: 20px;
}
.contact3 {
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: right;
   }

.right-bottom{
    width: 100%;
    height: 1000px;

}
.right-bottom :hover{
    background-color: rgb(242, 239, 236);
    border-radius: 10px;
}
.right-bottom .friend{
    width: 100%;
    height: 60px;
    display: flex;
    
}
.right-bottom .friend img{
    width: 40px;
    height: 40px;
    margin: 10px 10px 0 10px ;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.right-bottom .friend .name{
    width: 70%;
    height: 100%;
    font-size: large;
    text-align: left;
    padding-top: 20px;
}
.content .content-header{
    width: 100%;
    height: 250px;
    display: flex;
}
.content-header .item{
    width: 25%;
     background-color: grey;
    align-items: center;
    justify-content: center;
    height: 90%;
    border-radius: 10px;
    margin: 5px;
}
.content-header .item img{
    width: 100%;
    height: 100%;
    display: flex;
    border-radius: 10px;
}
.content-header .plus{
    position :absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50% ;
     font-size: 30px;
     right: 32pc;
     top: 10.7pc;
     background-color:white;
     color: blue;
     padding:5px;
     margin: 0;

}
.content-header .item .create-new{
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    padding-top: 10px;
    justify-content: center;
    background-color: white;
    border-end-start-radius: 10px;
     border-end-end-radius: 10px;
    
}
.content-header .item .image {
    width: 100%;
    height: 80%;
}
.content-header .item .image img{
    width: 100%;
    height: 100%;
    margin: 0;
  border-end-start-radius: 4px;
  border-end-end-radius: 4px;
}

.image-icon{
    position: relative;
}
.content-header .item .circle{
    position: absolute;
    width: 30px;
    height: 30px;
    margin: 10px;
    padding: 3px;
    border-radius: 50%;
    background-color: rgb(0, 106, 255);
}

.content-header .item .arrow{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: white;
    display: flex;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    position: absolute;
    color: gray;
    top: 5pc;
    right: 0.5pc;
}
.content-header .item .ten{
    color: white;
    position: relative;
    bottom: 1.6pc;
    left: 0.6pc;
}
.content-mid {
    padding: 10px;
    width: 100%;
    height: 100px;
    padding-top: 10px;
    border-radius: 10px;
    background-color: white;
}
.content-mid .ads1{
    width: 100%;
    height: 50%;
    display: flex;
}
.content-mid .ads1 img{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-bottom: 5px;
    margin-left: 10px;
     
}
.content-mid .ads1 input{
    width:520px;
    font-size: 15px;
    height: 70%; 
    margin-left: 10px;
    padding-left: 10px;
    display: flex;
    background-color: rgb(191, 191, 191);;
}
.hr2 hr{
    border: 1px solid;
    color: rgb(215, 213, 213);
    display: flex;
}
.content-mid .ads2{
    width: 100%;
    height: 50%;
    display: flex;
}
.content-mid .ads2 .meme{
    width: calc(100% /3 );
    height: 100%;
    display: flex;
}

.content-mid .ads2  :hover{
    background-color: rgb(242, 239, 236);
    border-radius: 10px;
}
.ads2 .meme .icon{
    width: 20%;
    height: 100%;
    display: flex;
    font-size: 20px;
    align-items: center;
    color: burlywood;
    justify-content: center;
}
.ads2 .meme .name{
    width: 80%;
    height: 100%;
    padding-top: 10px;
    align-items: left;
    justify-content: center;
    color: gray;
}
.content-footer{
    width: 100%;
    height: 800px;
    margin-top: 15px;
    border-radius: 10px;
   background-color: white;
    padding: 10px;
}
.content-footer .data{
    width: 100%;
    height: 90px;
}

.data .header{
    width: 100%;
    height: 50%;
    display: flex;
}
.data .header img{
    width: 40px;
    height: 40px ;
    border-radius: 50%;
    margin: 2px;
}
.data .header .name{
   width: 90%;
   height: 100%;
   font-size: larger;
   padding-top: 5px;
   padding-left: 4px;

}
.data .header .icon{
    width: 8%;
    height: 100%;
    display: flex;
    font-size: larger;
    justify-content: flex-end;
    padding-top: 10px;
    color: grey;
}
.data .header1{
    width: 100%;
    height: 50%;
    display: flex;
    padding-top: 5px;
}
.data .header1 .area {
    width: 27%;
    height: 100%;
}
.data .header1 .icon{
    width: 73%;
    height: 100%;
    font-size: large;
}
.data .image {
    width: 100%;
    height: 600px;
}
.data .image img {
    width: 100%;
    height: 100%;
}
.data .comment {
    width: 100%;
    height: 50px;
    display: flex;
}
.data .comment .icon2{
    width: 5%;
    height: 100%;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: orange;
}
.data .comment .number{
    width: 50%;
    height: 100%;
    font-size: 18px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.icon-comment{
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: gray;
}
.icon-share{
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: gray;
}
.hr3 hr{
    border: 1px solid;
    color: rgb(215, 213, 213);
    width: 100%;
}
.data .interact{
    width: 100%;
    height: 50%;
    display: flex;
    padding-bottom: 20px;
}
.data .interact .like{
     width: calc(100% /3 );
     height: 100%;
     display: flex;
}
.data .interact .binhluan{
    width: calc(100% /3 );
    height: 100%;
    display: flex;
}
.data .interact .share{
    width: calc(100% /3 );
    height: 100%;
    display: flex;
}
.icon3{
    width: 15%;
    height: 100%;
    justify-content: center;
    font-size: larger;
    align-items: center;
    display: flex;
    color: gray;
    margin-left: 50px;
}
.like-like{
    width: 75%;
    height: 100%;
    justify-content: flex-start;
    align-items: center;
    display: flex;
    color: gray;
}



.content-footer1{
    width: 100%;
    height: 800px;
    margin-top: 15px;
    border-radius: 10px;
   background-color: white;
    padding: 10px;
}
.content-footer1 .data{
    width: 100%;
    height: 90px;
}
.data .header{
    width: 100%;
    height: 50%;
    display: flex;
}
.data .header img{
    width: 40px;
    height: 40px ;
    border-radius: 50%;
    margin: 2px;
}
.data .header .name{
   width: 90%;
   height: 100%;
   font-size: larger;
   padding-top: 5px;
   padding-left: 4px;

}
.data .header .icon1{
    width: 8%;
    height: 100%;
    display: flex;
    font-size: larger;
    justify-content: flex-end;
    padding-top: 10px;
    color: grey;
}
.data .header1{
    width: 100%;
    height: 50%;
    display: flex;
    padding-top: 5px;
}
.data .header1 .area1{
    width: 50%;
    height: 100%;
}
.data .header1 .icon1{
    width: 73%;
    height: 100%;
    font-size: large;
}
.data .image {
    width: 100%;
    height: 600px;
}
.data .image img {
    width: 100%;
    height: 100%;
}
.data .comment {
    width: 100%;
    height: 50px;
    display: flex;
}
.data .comment .icon2{
    width: 5%;
    height: 100%;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: orange;
}
.data .comment .number{
    width: 50%;
    height: 100%;
    font-size: 18px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.icon-comment{
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: gray;
}
.icon-share{
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: gray;
}
.hr3 hr{
    border: 1px solid;
    color: rgb(215, 213, 213);
    width: 100%;
}
.data .interact{
    width: 100%;
    height: 50%;
    display: flex;
    padding-top: 20px;
}
.data .interact .like{
     width: calc(100% /3 );
     height: 100%;
     display: flex;
}
.data .interact .binhluan{
    width: calc(100% /3 );
    height: 100%;
    display: flex;
}
.data .interact .share{
    width: calc(100% /3 );
    height: 100%;
    display: flex;
}
.icon3{
    width: 15%;
    height: 100%;
    justify-content: center;
    font-size: larger;
    align-items: center;
    display: flex;
    color: gray;
    margin-left: 50px;
}
.like-like{
    width: 75%;
    height: 100%;
    justify-content: flex-start;
    align-items: center;
    display: flex;
    color: gray;
}

.content-footer2{
    width: 100%;
    height: 800px;
    margin-top: 15px;
    border-radius: 10px;
   background-color: white;
    padding: 10px;
}
.content-footer2 .data{
    width: 100%;
    height: 90px;
}
.data .header{
    width: 100%;
    height: 50%;
    display: flex;
}
.data .header img{
    width: 40px;
    height: 40px ;
    border-radius: 50%;
    margin: 2px;
}
.data .header .name{
   width: 90%;
   height: 100%;
   font-size: larger;
   padding-top: 5px;
   padding-left: 4px;

}
.data .header .icon1{
    width: 8%;
    height: 100%;
    display: flex;
    font-size: larger;
    justify-content: flex-end;
    padding-top: 10px;
    color: grey;
}
.data .header1{
    width: 100%;
    height: 50%;
    display: flex;
    padding-top: 5px;
}
.data .header1 .area1{
    width: 50%;
    height: 100%;
}
.data .header1 .icon1{
    width: 73%;
    height: 100%;
    font-size: large;
}
.data .image {
    width: 100%;
    height: 600px;
}
.data .image img {
    width: 100%;
    height: 100%;
}
.data .comment {
    width: 100%;
    height: 50px;
    display: flex;
}
.data .comment .icon2{
    width: 5%;
    height: 100%;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: orange;
}
.data .comment .number{
    width: 50%;
    height: 100%;
    font-size: 18px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.icon-comment{
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: gray;
}
.icon-share{
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: gray;
}
.hr3 hr{
    border: 1px solid;
    color: rgb(215, 213, 213);
    width: 100%;
}
.data .interact{
    width: 100%;
    height: 50%;
    display: flex;
    padding-top: 20px;
}
.data .interact .like{
     width: calc(100% /3 );
     height: 100%;
     display: flex;
}
.data .interact .binhluan{
    width: calc(100% /3 );
    height: 100%;
    display: flex;
}
.data .interact .share{
    width: calc(100% /3 );
    height: 100%;
    display: flex;
}
.icon3{
    width: 15%;
    height: 100%;
    justify-content: center;
    font-size: larger;
    align-items: center;
    display: flex;
    color: gray;
    margin-left: 50px;
}
.like-like{
    width: 75%;
    height: 100%;
    justify-content: flex-start;
    align-items: center;
    display: flex;
    color: gray;
}





























